.App {
  text-align: center;
}

.profile_img {
  margin: 4%;

}

#profile__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#slack {
  display: none;

}

.a__twitter {
  text-decoration: none;
  color: black;
}

#btn__twitter {
  background-color: #EAECF0;
  margin: 5px 0;
  padding: 5px 5px;
  border: none;
  width: 1152px;
  height: 76px;
}

.a__zuri {
  text-decoration: none;
  color: black;
}

#btn__zuri {
  background-color: #EAECF0;
  margin: 5px 0;
  padding: 5px 5px;
  border: none;
  width: 1152px;
  height: 76px;

}

.a__books {
  text-decoration: none;
  color:black;
}

#books {
  background-color: #EAECF0;
  margin: 5px 0;
  padding: 5px 5px;
  border: none;
  width: 1152px;
  height: 76px;

}

.a__pythonBooks {
  text-decoration: none;
  color: black;
}

#book__python {
  background-color: #EAECF0;
  margin: 5px 0;
  padding: 5px 5px;
  border: none;
  width: 1152px;
  height: 76px;
}

.a__backgroundCheck {
  text-decoration: none;
  color: black;
}

#pitch {
  background-color: #EAECF0;
  margin: 5px 0;
  padding: 5px 5px;
  border: none;
  width: 1152px;
  height: 76px;
}

.a__bookDesign {
  text-decoration: none;
  color:black;
}

#book__design {
  background-color: #EAECF0;
  margin: 5px 0;
  padding: 5px 5px;
  border: none;
  width: 1152px;
  height: 76px;
}